[Unit]
Description=Ingester service for political-dashboard-api

[Service]
Type=oneshot
ExecStart=/bin/sh -c "docker run --network political-dashboard-api_default political-dashboard-api_ingester continual"

[Install]
WantedBy=multi-user.target
