[Unit]
Description=Ingester service for political-dashboard-api

[Service]
ExecStart=/usr/bin/docker run --network political-dashboard-api_default political-dashboard-api_ingester continual
